.AddNewTask__Button {
    width: 110px;
    height: 52px;
    margin: 20px;
}

.ModalAddWindow__Form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ModalAddWindow__InputGroupText {
    width: 235px;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.ModalAddWindow__InputGroup, 
.ModalAddWindow__ForomGroup {
    width: 100%;
    margin: 10px; 
}

.ModalAddWindow__DatePicker.ModalAddWindow__FormControl {
    width: 232px
}

.App__FilteredTodolist {
    width: 100%;
    display: flex;
}

.App__MainReturn {
    width: 100%;
    height: 1000px;
    background-color: #87CEEB;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Edit__FormGroup {
    width: 100%;
    margin: 10px;
}

.Edit__DatePicker.Edit__FormControl {
    width: 232px;
}

.Edit__InputGroupText {
    width: 235px;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.Edit__button {
    width: 130px;
    height: 52px; 
}

.editTodo {
    margin-left: 10px;
}

.Edit__ModalBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Edit__InputGroup {
    width: 100%;
}

.Task__MainReturn {
    display: flex;
    width: 100%;
}

.Task__TableCell {
    width: 100px;
    overflow: auto;
}

.TaskGreenDate {
    color: green
}   

.TaskRedDate {
    color: red
}

.Task__ButtonDelete {
    width: 130px;
    height: 52px;
    margin-left: 10px;
}

.Task__Table {
    table-layout: fixed;
}


